.App {
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.295); */
  font-family: 'montserrat';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Shopify CSS */
.App__header {
  background-color: #222;
  background-image: url('https://unsplash.it/1000/300?image=823');
  background-size: cover;
  color: white;
  padding: 10px 10px;
}

.App__nav {
  width: 100%;
  list-style: none;
}

.App__customer-actions {
  float: left;
  padding: 10px;
}

.App__title {
  padding: 80px 20px;
  text-align: center;
}

.Product-wrapper {
  max-width: 900px;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App__view-cart-wrapper {
  float: right;
}

.App__view-cart {
  font-size: 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.testing {
  color:#ffffff00;
  color: #151f2a
}

.button {
  background-color: #2752ff;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 10px 17px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #222222;
}

.button:disabled {
  background: #bfbfbf;
  cursor: not-allowed;
}

.login {
  font-size: 1.2rem;
  color: #b8b8b8;
  cursor: pointer;
}

.login:hover {
  color: white;
}

.Flash__message-wrapper {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  bottom: 0;
  pointer-events: none;
  z-index: 227;
  left: 50%;
  transform: translateX(-50%);
}

.Flash__message {
  background: rgba(0, 0, 0, 0.88);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  cursor: default;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  pointer-events: auto;
  position: relative;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding: 10px 20px;
  margin: 0;
}

.Flash__message--open {
  display: flex;
}

/* End Shopify CSS */

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: rgba(0, 0, 255, 0);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.videoseriestitle {
  margin-bottom: 0px;
  font-family: 'bigmontserrat';
  letter-spacing: .2rem;
  font-size: 350%
}

.videoseriessubtitle {
  margin-top: 0px;
  font-family: 'bigmontserrat';
  letter-spacing: .2rem;
  font-size: 150%
}

.videofoot {
  font-family: 'bigmontserrat';
  letter-spacing: .2rem;
}


@font-face {
  font-family: greatvibes;
  src: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/fonts/GreatVibes-Regular.ttf)
}

@font-face {
  font-family: montserrat;
  src: url(https://qyctrtcwtwasdktftmuy.supabase.in/storage/v1/object/public/font/Montserrat-Regular.ttf)
}

@font-face {
  font-family: bigmontserrat;
  src: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/fonts/Montserrat-ExtraBold.ttf)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.videoPoster:hover {
  cursor: pointer;
}

.Collapsible__trigger {
  display: flex;
  justify-content: left;
  align-items: center;
}

.Collapsible__trigger.is-open svg {
  transform: rotate(270deg);
}

.calendarButton {
  background-color: black;
  border: none;
  color: white;
  width: 300px;
  text-shadow: 1px 1px rgb(131, 120, 120);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.videoCalendarButton {
  background-color: black;
  border: none;
  color: white;
  width: 75%;
  text-shadow: 1px 1px rgb(131, 120, 120);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  min-height: 56px
}

.videoButton {
  min-height: 56px;
  background-color: black;
  border: none;
  text-shadow: 1px 1px rgb(131, 120, 120);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.collapsibleSelectVideo {
  border-bottom: 1px solid black;
  text-align: left;
  padding-top: 2%;
  /* padding-bottom: 2% */
}


.selectVideo {
  /* wrap text in compatible browsers */
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  /* hide text that can't wrap with an ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: bolder;
  min-height: 50px;
  line-height: 1.5;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  /* add border after every option */
  border-bottom: 1px solid black;
}

.selectVideo:hover {
  color: white;
  background-color: #6d6d6d;
  text-shadow: 1px 1px black
}

.selectVideo:focus {
  color: white;
  background-color: rgb(0, 0, 0);
}

#bioBlock {
  display: block
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  z-index: 1 !important;
}

#basic-nav-dropdown {
  color: rgba(4, 0, 255, 0.5)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sideMenu {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.sidebutton {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: -20px;
  padding-right: -20px;
}

.bottom {
  height: 200px;
  font-family: 'Montserrat', sans-serif;
}

#bottom-left {
  background-image: radial-gradient(rgb(255, 255, 74), rgb(255, 255, 0), rgb(150, 150, 1));
  position: relative;
  padding: 20px;
  border-radius: 1%;
  border: 2px solid black;
}

#bottom-center {
  background-image: radial-gradient(rgb(255, 255, 255), rgb(187, 187, 187), rgb(143, 143, 143));
  position: relative;
  padding: 20px;
  border-radius: 1%;
  border: 2px solid black;
}

#bottom-right {
  background-color: black;
  color: white;
  position: relative;
  padding: 20px;
  margin-right: 0px;
  margin-left: 0px
    /* border-radius: 1%;
  border: 2px solid grey; */
}

#button {
  background-color: #ffcc00;
  color: black;
}

.head {
  background-image: linear-gradient(to right, black, rgb(78, 78, 78), black);
  padding: left 20px;
}

.foot {
  background-image: linear-gradient(to right, black, rgb(78, 78, 78), black);
  font-family: 'Montserrat';
}

.fade-in-text {
  display: inline-block;
  /* font-family: Arial, Helvetica, sans-serif; */
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px)
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px)
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.socialMediaIcon {
  position: absolute
}

.bouncey {
  position: absolute;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}

.bouncey:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.lightTxt,
.text-muted.small {
  /* color: rgb(136, 136, 136); */
  padding: 0px 0;
  margin-top: 0px;
  font-size: .553em;
  line-height: inherit;
}

.form-group input {
  background-color: #f9f9f9;
  padding: 10px 10px 0px 10px;
  border: solid 1px grey !important;
  border-radius: 3px;
  width: calc(50% - 8px);
}

.form-group label {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-align: left;
}

.form-group input[type="text"] {
  width: calc(50% - 8px);
}

.form-group input[type="radio"] {
  width: auto;
}

.form-group {
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
}

.form-group ul,
.form-group ul li {
  list-style-type: none;
  padding: 2px 0px 2px 0px;
}

.form-group ul li .control-label {
  padding-left: 10px;
  padding-right: 10px;
}

.maincalcualtion {
  border: solid 4px #ffcc00;
  background-color: white;
  box-shadow: 5px 5px 10px;
  padding: 10px;
  margin-bottom: 15px;
  transform: scale(1.08);
}

.maincalcualtion input,
#AnnualRetirementIncome {
  font-size: 1.55em;
  font-weight: 600;
  color: black;
  /* background-color: rgba(255, 214, 51, .7); */
  text-align: center;
  /* text-shadow: 0.1em 0.1em 0.14em #000000; */
  margin-bottom: 10px
}

.maincalcualtion input,
#RothMonthly {
  font-size: 1.55em;
  font-weight: 600;
  color: black;
  /* background-color: rgba(255, 214, 51, .7); */
  text-align: center;
  /* text-shadow: 0.1em 0.1em 0.14em #000000; */
  margin-bottom: 10px
}

.ci-hero-item-hidden {
  opacity: 0 !important;
  z-index: -1 !important;
}

.ci-hero-slider-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 0;
  transition: 1s;
}

.ci-rpw-desktop .ci-result-row,
.ci-rpw-desktop .ci-rpw-row {
  height: auto !important;
  background-color: #ededed;
  margin: 0px;
  display: flex;
}

.ci-rpw-desktop .ci-result-row div,
.ci-rpw-desktop .ci-rpw-row div {
  margin: 0px !important;
}

.ci-rpw-desktop .ci-result-column-header {
  font-size: 1em !important;
  width: 50% !important;
  font-weight: 700;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.ci-rpw-desktop .ci-result-column-header.mpi {
  background-color: #ffcc00;
  font-size: 1.5em !important;
}

.ci-rpw-desktop .ci-result-column-header.roth {
  background-color: #000;
  color: #fff;
  font-size: 1.5em !important;
}

.ci-rpw-desktop .ci-result-row-header {
  height: 40px !important;
  width: 100% !important;
  background-color: #ededed !important;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.ci-rpw-desktop .ci-result-row-value {
  height: 65px !important;
  width: 50% !important;
  font-size: 1.6em;
  line-height: 65px;
  font-weight: normal !important;
  padding: 0px !important;
  text-align: center;
}

.ci-rpw-desktop .ci-result-row-value.mpi {
  background-color: #ffcc0066 !important;
}

.ci-rpw-desktop .ci-result-row-value.roth {
  background-color: #00000066 !important;
}

.ci-rpw-desktop .ci-result-row-value.text {
  line-height: 1.2em !important;
  font-size: 1.3em;
  padding: 10px 20px !important;
}

.ci-rpw-desktop .roth-000000 {
  background-color: #000000 !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 2em !important;
  border: solid 1px #000;
}

.ci-rpw-desktop .mpi-ffcc00 {
  background-color: #ffcc00 !important;
  font-weight: 700 !important;
  font-size: 2em !important;
  border: solid 1px #000;
}

.ci-rpw-desktop .ci-result-row-value.percentage {
  background-color: transparent !important;
  padding-top: 5px !important;
  color: #fff;
  font-size: 1em;
  text-align: center;
  font-weight: 900 !important;
  margin: 0px !important;
  width: 100% !important;
}

.ci-rpw-desktop .ci-center {
  text-align: center;
}

.ci-rpw-desktop .ci-rpw-btn {
  color: #000;
  background-color: #ffcc00;
  padding: 20px 45px;
  border-radius: 0.3em;
  margin: 20px auto;
  font-weight: 500;
  display: block;
  text-align: center;
  font-size: 1.2em;
}

.ci-rpw-desktop .ci-result-title {
  font-weight: 900;
  font-size: 1.5em;
  color: #000;
  background-color: #FFF !important;
}

.ci-rpw-desktop .ci-income-wrapper {
  border: solid 1px #000;
  box-shadow: 0 0 15px rgb(0, 0, 0);
  width: calc(100%);
  margin: 15px auto !important;
  padding: 10px;
  background-color: #ffcc00;
  border-radius: 0.3em;
}

.ci-rpw-desktop .ci-income-wrapper .ci-result-row-header {
  height: auto !important;
  line-height: normal !important;
  padding: 5px 0px;
}

.ci-rpw-desktop .ci-border-black-1 {
  border: solid 1px #000;
}

.ci-rpw-desktop .ci-result-col,
.ci-rpw-desktop .ci-rpw-col {
  width: 50%;
  justify-content: space-evenly;
}

.ci-rpw-desktop .ci-result-col input,
.ci-rpw-desktop .ci-rpw-col input {
  width: 90%;
  margin: 0 5%;
}

.ci-rpw-desktop .ci-result-col label,
.ci-rpw-desktop .ci-rpw-col label {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.ci-rpw-desktop .ci-rpw-header {
  width: 100%;
}

.ci-rpw-desktop .ci-rpw-header h1 {
  background-color: transparent;
  font-size: 2.5em;
  font-weight: 900;
  padding: 15px;
  text-align: center;
  color: #fff;
}

.ci-rpw-desktop .ci-rpw-col label {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
}

.ci-rpw-desktop .ci-rpw-col input {
  border-radius: 0.5em;
  width: 80% !important;
}

.ci-rpw-desktop .ci-required {
  color: rgb(255, 0, 0);
}

.cont {
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(45deg, #056FCB 50%, #000000 50%);
}

#bigMonty{
  font-family: 'bigmontserrat';
}

.columntitle {
  text-align: center;
  font-family: 'bigmontserrat';
  margin-bottom: 0px
}

#columnsubtitle {
  text-align: center;
  font-family: 'bigmontserrat';
  font: size 5px;
  font-style: italic
}

@media only screen and (max-width: 690px) {
  .whatIsMPIButton {
    background-color: black;
    width: 300px;
    border: none;
    border-radius: 50px;
    color: white;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
  }

  .slogan{
    padding-top: 0px;
    margin: 1% auto 8% auto;
    text-shadow: 1px 1px black;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 100%;
    max-width: 50vw
  }


  .calcBackground {
    background-color: rgba(0, 0, 0, 0.75);
    background-image:
      url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/darkcalculator.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .asSeenOn {
    font-size: small;
  }

  .asSeenOnImage{
    margin: auto;
    width: 6vw
  }

  #video {
    position: fixed;
    z-index: -1;
    width: auto;
    height: contain;
    left: -50%;
    top: -50%
  }

  .backdrop {
    position: fixed;
    z-index: -1;
    width: auto;
    height: contain;
    left: -50%;
    top: -50%
  }

  #fancyfont {
    font-family: 'greatvibes';
    font-size: 150%;
    text-shadow: 1px 1px 1px black;
  }

  #icons {
    max-height: 4vh;
  }

  .scvis {
    min-height: 250px
  }

  #bullet {
    text-align: right;
  }

  .bulletpoints {
    font-family: 'bigmontserrat';
    font-size: 100%;
    margin-bottom: 0px;
    color:rgb(0, 0, 0)
  }

  #subbulletpoints {
    font-family: 'bigmontserrat';
    font: size 10%;
    font-style: italic
  }

  .videohead {
    font-family: 'bigmontserrat';
    font-size: 250%
  }

  .videosubhead {
    font-family: 'bigmontserrat';
    font-size: 125%;
    font-style: italic
  }

  .videobody {
    color: white;
    font-size: 100%
  }

  .videobutton {
    width: 100%;
    /* margin-bottom: 3%; */
    margin-left: auto;
    margin-right: auto;
  }

  .videobuttontext {
    font-size: 100%;
  }

  .videobuttonrow {
   margin-left: auto;
   margin-right: auto;
    width: 100%;
  }

  .videobuttoncol {
    width: auto;
    justify-content: center;
  }

  .homebg {
    /* background-image: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/SDRHPFadedBackground.png); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    margin: 0px;
    min-height: 250px;
    /* height: 100%; */
    /* position: fixed; */
    top: 0;
    left: 0;
    /* z-index: -100;  */
  }

  .curtisFamilyImage {
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: auto;
    max-width: 50vw;
    min-height: 20vh;
    max-height: 30vh;
    /* z-index: 1 */
  }

  .curtisList {
    text-align: left;
    font-size: 75%
  }

  .documentaryContainer {
    min-width: 345px
  }

  .webinarBackground {
    background-image: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/WebinarBackground.png);
    background-repeat: none;
    background-size: cover;
  }

  .webinarImage {
    width: 100%;
    height: auto
  }

  .webinarFrame {
    height: 150vh; width: 100vw; margin:0px; padding:0px; overflow: hidden
  }
}

@media only screen and (min-width: 691px) and (max-width: 1079px) {
  .emailSize {
    font-size: 50%
  }

  .whatIsMPIButton {
    background-color: black;
    width: 150px;
    border: none;
    border-radius: 50px;
    color: white;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
  }

  .whatIsMPIButton h2 {
    font-size: 100%
  }

  .slogan{
    padding-top: 0px;
    margin: 1% auto 8% auto;
    text-shadow: 1px 1px black;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 150%;
    max-width: 50vw
  }

  .calcBackground {
    background-color: rgba(0, 0, 0, 0.75);
    background-image:
      url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/darkcalculator.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .asSeenOn {
    font-size: medium;
  }

  .asSeenOnImage{
    margin: auto;
    width: 6vw
  }

  #video {
    position: fixed;
    z-index: -1;
    width: auto;
    height: contain;
    left: -50%;
    top: -50%
  }

  .backdrop {
    position: fixed;
    z-index: -1;
    width: auto;
    height: contain;
    left: -50%;
    top: -50%
  }

  #fancyfont {
    font-family: 'greatvibes';
    font-size: 150%;
    text-shadow: 1px 1px 1px black;
  }

  #icons {
    max-height: 4vh;
  }

  .scvis {
    min-height: 300px
  }

  #bullet {
    text-align: right;
  }

  .bulletpoints {
    font-family: 'bigmontserrat';
    font-size: 150%;
    margin-bottom: 0px
  }

  #subbulletpoints {
    font-family: 'bigmontserrat';
    font: size 15%;
    font-style: italic
  }

  .videohead {
    font-family: 'bigmontserrat';
    font-size: 300%
  }

  .videosubhead {
    font-family: 'bigmontserrat';
    font-size: 150%;
    font-style: italic
  }

  .videobody {
    color: white;
    font-size: 150%
  }

  .videobutton {
    width: 100%;
    /* margin-bottom: 3%; */
    margin-left: auto;
    margin-right: auto;
  }

  .videobuttontext {
    font-size: 100%;
  }

  .videobuttonrow {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
  }

  .videobuttoncol {
    width: auto;
    justify-content: center
  }

  .homebg {
    /* background-image: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/SDRHPFadedBackground.png); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    margin: 0px;
    min-height: 350px;
    /* height: 100%; */
    /* position: fixed; */
    top: 0;
    left: 0;
    /* z-index: -100;  */
  }

  .curtisFamilyImage {
    position: absolute;
    bottom: -10px;
    left: 2%;
    width: 45%;
    /* z-index: 1 */
  }

  .curtisList {
    text-align: left;
    font-size: 100%
  }

  .documentaryContainer {
    border: none
  }

  .webinarBackground {
    background-image: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/WebinarBackground.png);
    background-repeat: none;
    background-size: cover;
  }

  .webinarImage {
    width: 100%;
    height: auto
  }

  .webinarFrame {
    height: 130vh; width: 100vw; margin:0px; padding:0px; overflow: hidden
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1535px) {
  .emailSize {
    font-size: 50%
  }

  .whatIsMPIButton {
    background-color: black;
    width: 225px;
    border: none;
    border-radius: 50px;
    color: white;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
  }

  .whatIsMPIButton h2 {
    font-size: 150%
  }

  .slogan{
    padding-top: 0px;
    margin: 1% auto 8% auto;
    text-shadow: 1px 1px black;
    background-color: rgb(0, 0, 0, 0.5);
    max-width: 50vw
  }

  .calcBackground {
    background-color: rgba(0, 0, 0, 0.75);
    background-image:
      url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/darkcalculator.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .asSeenOn {
    font-size: medium;
  }

  .asSeenOnImage{
    margin: auto;
    width: 6vw
  }

  #video {
    position: fixed;
    z-index: -1;
    width: auto;
    height: contain;
    left: -50%;
    top: -50%
  }

  .backdrop {
    position: fixed;
    z-index: -1;
    width: auto;
    height: contain;
    left: -50%;
    top: -50%
  }

  #fancyfont {
    font-family: 'greatvibes';
    font-size: 150%;
    text-shadow: 1px 1px 1px black;
  }

  #icons {
    max-height: 4vh;
  }

  .scvis {
    min-height: 300px
  }

  #bullet {
    text-align: right;
  }

  .bulletpoints {
    font-family: 'bigmontserrat';
    font-size: 150%;
    margin-bottom: 0px
  }

  #subbulletpoints {
    font-family: 'bigmontserrat';
    font: size 20%;
    font-style: italic
  }

  .videohead {
    font-family: 'bigmontserrat';
    font-size: 300%
  }

  .videosubhead {
    font-family: 'bigmontserrat';
    font-size: 150%;
    font-style: italic
  }

  .videobody {
    color: white;
    font-size: 150%
  }

  .videobutton {
    width: 100%;
    /* margin-bottom: 3%; */
    margin-left: auto;
    margin-right: auto;
  }

  .videobuttontext {
    font-size: 100%;
  }

  .videobuttonrow {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
  }

  .videobuttoncol {
    width: auto;
    justify-content: center
  }

  .homebg {
    /* background-image: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/SDRHPFadedBackground.png); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    margin: 0px;
    min-height: 350px;
    /* height: 100%; */
    /* position: fixed; */
    top: 0;
    left: 0;
    /* z-index: -100;  */
  }

  .curtisFamilyImage {
    position: absolute;
    bottom: -10px;
    left: 2%;
    width: 45%;
    /* z-index: 1 */
  }

  .curtisList {
    text-align: left;
    font-size: 100%
  }

  .documentaryContainer {
    border: none
  }

  .webinarBackground {
    background-image: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/WebinarBackground.png);
    background-repeat: none;
    background-size: contain;
  }

  .webinarImage {
    width: 100%;
    height: auto
  }

  .webinarFrame {
    height: 95vh; width: 100vw; margin:0px; padding:0px; overflow: hidden
  }
}

@media only screen and (min-width: 1536px) and (max-width: 1699px) {
  .emailSize {
    font-size: 50%
  }

  .slogan{
    padding-top: 0px;
    margin: 1% auto 8% auto;
    padding-left: 5%;
    padding-right: 5%;
    text-shadow: 1px 1px black;
    background-color: rgb(0, 0, 0, 0.5);
    max-width: 50vw
  }

  .whatIsMPIButton {
    background-color: black;
    width: 300px;
    border: none;
    border-radius: 50px;
    color: white;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
  }

  .calcBackground {
    background-color: rgba(0, 0, 0, 0.75);
    background-image:
      url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/croppeddarkcalculator.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
  }

  .asSeenOn {
    font-size: medium;
  }

  .asSeenOnImage{
    margin: auto;
    width: 6vw
  }

  #video {
    position: fixed;
    z-index: -1;
    width: auto;
    height: contain;
    left: -50%;
    top: -50%
  }

  .backdrop {
    position: fixed;
    z-index: -1;
    width: auto;
    height: contain;
    left: -50%;
    top: -50%
  }

  #fancyfont {
    font-family: 'greatvibes';
    font-size: 150%;
    text-shadow: 1px 1px 1px black;
  }

  #icons {
    max-height: 4vh;
  }

  .scvis {
    min-height: 300px
  }

  #bullet {
    text-align: right;
  }

  .bulletpoints {
    font-family: 'bigmontserrat';
    font-size: 150%;
    margin-bottom: 0px
  }

  #subbulletpoints {
    font-family: 'bigmontserrat';
    font: size 25%;
    font-style: italic
  }

  .videohead {
    font-family: 'bigmontserrat';
    font-size: 300%
  }

  .videosubhead {
    font-family: 'bigmontserrat';
    font-size: 150%;
    font-style: italic
  }

  .videobody {
    color: white;
    font-size: 150%
  }

  .videobutton {
    width: 100%;
    /* margin-bottom: 3%; */
    margin-left: auto;
    margin-right: auto;
  }

  .videobuttontext {
    font-size: 100%;
  }

  .videobuttonrow {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
  }

  .videobuttoncol {
    width: auto;
    justify-content: center
  }

  .homebg {
    /* background-image: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/SDRHPFadedBackground.png); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    margin: 0px;
    min-height: 350px;
    /* height: 100%; */
    /* position: fixed; */
    top: 0;
    left: 0;
    /* z-index: -100;  */
  }

  .curtisFamilyImage {
    position: absolute;
    bottom: -10px;
    left: 2%;
    width: 45%;
    /* z-index: 1 */
  }

  .curtisList {
    text-align: left;
    font-size: 100%
  }

  .documentaryContainer {
    border: none
  }

  .webinarBackground {
    background-image: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/WebinarBackground.png);
    background-repeat: none;
    background-size: contain;
  }

  .webinarImage {
    width: 90%;
    height: auto
  }

  .webinarFrame {
    height: 80vh; width: 100vw; margin:0px; padding:0px; overflow: hidden
  }
}

@media only screen and (min-width: 1700px) {
  .emailSize {
    font-size: 75%
  }

  .slogan{
    padding-top: 0px;
    margin: 1% auto 8%;
    padding-left: 10%;
    padding-right: 10%;
    text-shadow: 1px 1px black;
    background-color: rgb(0, 0, 0, 0.5);
    max-width: 50vw
  }

  .whatIsMPIButton {
    background-color: black;
    width: 300px;
    border: none;
    border-radius: 50px;
    color: white;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
  }

  .calcBackground {
    background-color: rgba(0, 0, 0, 0.75);
    background-image:
      url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/croppeddarkcalculator.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
  }

  .asSeenOn {
    font-size: 125%;
  }

  .asSeenOnImage{
    margin: auto;
    width: 6vw
  }

  #video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
    left: 0px
  }

  .backdrop {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
    left: 0px
  }

  #fancyfont {
    font-family: 'greatvibes';
    font-size: 400%;
    text-shadow: 2px 2px 2px black;
  }

  #icons {
    max-height: 4vh;
  }

  .scvis {
    min-height: 350px
  }

  #bullet {
    text-align: right;
  }

  .bulletpoints {
    font-family: 'bigmontserrat';
    font-size: 175%;
    margin-bottom: 0px
  }

  #subbulletpoints {
    font-family: 'bigmontserrat';
    font: size 25%;
    font-style: italic
  }

  .videohead {
    font-family: 'bigmontserrat';
    font-size: 400%
  }

  .videosubhead {
    font-family: 'bigmontserrat';
    font-size: 225%;
    font-style: italic
  }

  .videobody {
    color: white;
    font-size: 200%
  }

  .videobutton {
    width: 100%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
  }

  .videobuttontext {
    font-size: 175%;
  }

  .videobuttonrow {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
  }

  .videobuttoncol {
    width: auto;
    justify-content: center
  }

  .homebg {
    /* background-image: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/SDRHPFadedBackground.png); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    margin: 0px;
    min-height: 500px;
    /* height: 100%; */
    /* position: fixed; */
    top: 0;
    left: 0;
    /* z-index: -100;  */
  }

  .curtisFamilyImage {
    position: absolute;
    bottom: -10px;
    left: 2%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 40vh;
    /* z-index: 1 */
  }

  .curtisList {
    text-align: left;
    font-size: 125%
  }

  .documentaryContainer {
    max-width: 50vw
  }

  .webinarBackground {
    background-image: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/images/WebinarBackground.png);
    background-repeat: none;
    background-size: contain;
  }

  .webinarImage {
    width: 80%;
    height: auto
  }

  .webinar {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-bottom: 56.25%;
    position: relative;
  }

  .webinar iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
 }

 .webinarFrame {
  height: 80vh; width: 100vw; margin:0px; padding:0px; overflow: hidden
}
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky2 {
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
}

.sticky3 {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.ficon {
  text-shadow: 3px 6px #272634;
}

.rotateRight {
  transform: rotate(90deg) translateY(82px);
  position: -webkit-sticky;
  position: sticky;
  right: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 3;
}

.upsidedown {
  transform: rotate(180deg);
  z-index: 100;
  padding-bottom: 3%
}

.cropped {
  clip: rect(0em, 83em, 100em, 0em);
  position: absolute;
  left: 10%
}

.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  /* background: #fff !important; */
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }

  .myCarousel {
    /* background: #fafafa; */
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
  margin-left: auto;
  margin-right: auto;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

